.main-header {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 50px;
  position: absolute;
  top: 0;
  color: #fff;
  background-color: rgb(35, 51, 74); // for browsers that don't support rgba
  background-color: rgba(35, 51, 74, 0.8);
  z-index: 100;
  @extend .clearfix;
}

.logged-in .main-header {
  top: 32px;
}

.header-logo {
  float: left;
  path {
    fill: #fff;
  }
}

.header-logo-link {
  display: inline-block;
}

.header-menu-wrap {
  float: right;
}

.top-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  display: inline-block;
  margin: 0 10px;
  padding: 14px 0;
  font-size: 25px;
  text-transform: uppercase;
  a {
    padding: 0 0 4px;
    &:hover {
      border-bottom: 2px solid #fff;
    }
  }
}