.divider {
  display: inline-block;
  width: 50px;
  height: 5px;
  margin: 10px 0 40px;
  background: $dark-blue;
}

.top-block-1 {
  display: inline-block;
  width: 100%;
  background: url(assets/build/img/top-block-1-img.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  @extend .site-block;
}

.logged-in .top-block-1 {
  height: calc(100vh - 32px);
}

.top-block-1-inner-wrap {
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}

.top-block-2 {
  padding: 34px 0;
  background-color: $light-grey;
  color: $dark-blue;
  text-align: center;
}

.top-block-2-inner-wrap {
  width: 70%;
  margin: auto;
}

.top-block-2-sub-block {
  display: inline-block;
  &:nth-child(1) {
    float: left;
  }
  &:nth-child(3) {
    float: right;
  }
}

.top-block-2-sub-block-icon {
  min-height: 130px;
}

.top-block-2-sub-block-wrap {
  font-size: 20px;
}

.top-block-3 {
  display: inline-block;
  width: 100%;
  background: url(assets/build/img/top-block-3-img.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  @extend .site-block;
  .quote {
    max-width: 1190px;
    margin: auto;
    font-size: 45px;
    font-weight: 100;
    b {
      margin-top: 30px;
      text-align: right;
      display: block;
      font-size: 40px;
      font-weight: 500;
    }
  }
}

.top-block-3-inner-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}